---
const personalImageAlt = "Sebastián Dosman"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-blue-500 dark:[&>p>strong]:text-blue-700 [&>p>strong]:font-normal text-pretty order-2 md:order-1"
  >
    <p>
      My name is Sebastian Dosman. I started programming with Scratch in sixth grade, I was 11 years old. 
      <strong>I'm currently 19 years old and I'm studying software engineering</strong>.
    </p>

    <p>
      Some of my successes include 
      <strong>are being among the three best averages of my career in the periods 2022-2 and 2023-1, receiving different scholarships and having participated in different activities carried out by the university</strong>. 
    </p>

    <p>
      As a software developer
      <strong>I have internships, bootcamps, projects and freelance jobs that certify my experience and knowledge</strong>. 
      My goal is to stand out for my knowledge and my good work.
    </p>
  </div>

  <img width="200" height="200" src="/me.webp" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/20 dark:ring-yellow-500/5 " style="object-position: 50% 50%">

</article>
